body {
  margin: 0;
  padding: 0;
  background: url('./assets/bg_cadastro.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 100vw;
    height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-cpf-container {
  background: url('./assets/bg_modal.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
    width: 100%;
    max-width: 400px;
    aspect-ratio: 9 / 16;
    padding: 4vh 5vw;
    border-radius: 16px;
    box-sizing: border-box;
  
    overflow: hidden;
}

.modal-cpf-container h3 {
  font-size: clamp(18px, 3.5vw, 26px);
    margin: 2vh 0;
  text-align: center;
  font-weight: lighter;
}

.modal-cpf-container input {
  width: 90%;
    padding: 1.2vh;
    font-size: clamp(18px, 4vw, 24px);
  text-align: center;
  border-radius: 8px;
  border: none;
  margin-bottom: 2vh;
  background: white;
  color: black;
}

.teclado {
  display: flex;
  flex-wrap: wrap;
    gap: 1vw;
  background-color: #d3d4d9;
  padding: 2vh;
  width: 90%;
  border-radius: 10px;
  justify-content: center;
}

.teclado button {
  width: clamp(45px, 8vw, 60px);
    padding: 1vh;
    font-size: clamp(16px, 4vw, 22px);
  background: #e1e1e1;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin: 2px;
}

.remover {
  background: #e54b4b;
}

.btn-continuar {
  background: #ff6200;
  color: white;
  border: none;
  padding: 1.5vh 5vw;
  border-radius: 8px;
  font-size: clamp(18px, 4vw, 26px);
    font-weight: bold;
  cursor: pointer;
  margin-top: 2vh;
}
